<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="home-link">
        {{#link-to 'application' class='navbar-brand'}}
          {{inline-svg imagesService.app.svg class='logo'}}
        {{/link-to}}
      </div>
    </div>
    <div id="main-nav" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        {{#active-link}}
          {{#link-to 'projects' class='svg-link'}}
            {{inline-svg imagesService.project.svg class='nav-icon'}}
          {{/link-to}}
        {{/active-link}}
        {{#active-link}}
          {{#link-to 'matchers' class='svg-link'}}
            {{inline-svg imagesService.matcher.svg class='nav-icon'}}
          {{/link-to}}
        {{/active-link}}
        {{#if session.isAuthenticated}}
          {{#active-link}}
            {{#link-to 'contributions' class='svg-link'}}
              {{inline-svg imagesService.trip.svg class='nav-icon'}}
            {{/link-to}}
          {{/active-link}}
          {{#active-link}}
            {{#link-to 'contributions.new' (query-params projectId=null) class='svg-link'}}
              {{inline-svg imagesService.newTrip.svg class='nav-icon size-39'}}
            {{/link-to}}
          {{/active-link}}
        {{/if}}
        {{#active-link}}
          {{#link-to 'groups' class='svg-link'}}
            {{inline-svg imagesService.group.svg class='nav-icon'}}
          {{/link-to}}
        {{/active-link}}
        {{#if session.isAuthenticated}}
          <li class="dropdown user-menu">
            <a class="dropdown-toggle" title="Benutzerkonto" href="#" data-toggle="dropdown">
              <img class="avatar"
                src="{{fetch-picture (unless account.user.profilePictureExternal imagesService.userLogoPath) account.user.profile_picture_url imagesService.userLogoDefault}}"
                alt={{account.user.name}}
              >
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li class="dropdown-header user-info">
                <h4>{{account.user.name}}</h4>
                <p>
                  <span class="label label-warning label-km">{{inline-svg imagesService.length.svg class='dropdown-icon km'}}</span>
                  <span class="info-value">{{account.user.total_km}}</span>
                </p>
                <p>
                  <span class="label label-warning label-euro">{{inline-svg imagesService.euro.svg class='dropdown-icon euro'}}</span>
                  <span class="info-value">{{account.user.total_don}}</span>
                </p>
              </li>
              <li class="divider"></li>
              <li>
                {{#link-to 'users.show' account.user.id}}Profil{{/link-to}}
              </li>
              <li>
                {{#link-to 'settings'}}Einstellungen{{/link-to}}
              </li>
              <li class="divider"></li>
              <li>
                <a {{action 'logout'}} href="javascript:void(0)">Abmelden</a>
              </li>
            </ul>
          </li>
        {{else}}
          <li>
            <a {{action 'login'}} href="javascript:void(0)">Anmelden</a>
          </li>
          <li>
            <a {{action 'register'}} href="javascript:void(0)">Registrieren</a>
          </li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>