<li class="models">
  <span class="thumbnail">
    <div class="logo-wrapper">
      <img class="model-logo" src="{{fetch-picture (unless project.logoExternal imagesService.projectLogoPath) project.logo_url imagesService.projectLogoDefault}}" alt={{project.name}}>
    </div>
    <span class="caption">
      <h4 class="text-center">
        {{link-to project.name 'projects.show' project}}
      </h4>
      <div class="stats">
        <span>
          Partner <span class="badge">{{project.matching_partners_count}}</span>
        </span>
        <span>
          Erhaltene Spenden <span class="badge">{{project.donated_contributions_count}}</span>
        </span>
      </div>
      <p class="description text-justify">{{truncate-string project.description 180}}</p>
      <div class="text-center">
        {{link-to 'spenden' 'contributions.new' (query-params projectId=project.id) class="btn btn-lg btn-success"}}
      </div>
    </span>
  </span>
</li>
